# Exclude all folders
*/

# Allow the 'pages' directory
!pages/
!.github/
!workflows/

# Exclure notebooks from Jupyter Notebook
*.ipynb
.env

# Exclude heavy dataset
Home_credit_risk_data_modeling.csv